<!DOCTYPE html>
<html ng-app="mymodule">
<head>
    <title></title>
    <script src="scripts/angular.js"></script>
    <script src="scripts/script12_ng-hide_ng-show.js"></script>
    <meta charset="utf-8" />
    <style>
        table {
            border-collapse: collapse;
            font-family: Arial;
        }

        td {
            border: 1px solid black;
        }

        th {
            border: 1px solid black;
            padding: 5px;
            text-align: left;
        }
    </style>

</head>
<body>
    <div ng-controller="mycontroller">
                Select Number of Rows:<input type="number" step="1" min="0" max="5" ng-model="rowlimit" />
        <br />
        Orderby : <select ng-model="sortcolumn">
            <option value="name">Name Asc</option>
            <option value="gender">Gender Asc</option>
            <option value="dob">DOB Asc</option>
            <option value="-salary">Salary DESC</option>
        </select>
        <br />
         
        <input type="checkbox" ng-model="exactMatch" /> Exact Match

        <input type="checkbox" ng-model="hidesalary" /> Hide Salary
        <table>

            <thead>
                <tr>
                    <th>name</th>
                    <th>dob</th>
                    <th ng-hide="hidesalary">gender</th>
                    <th >salary</th>
                    <th>salary</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="emp in employees">
                    <td>{{emp.name | uppercase}}</td>
                    <td>{{emp.dob }}</td>
                    <td ng-hide="hidesalary">{{emp.gender }}</td>
                    <td >{{emp.salary}}</td>
                    <td>{{emp.salary|currency:"£"}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</body>
</html>
