<!DOCTYPE html>
<html ng-app="demoapp">
<head>
    <title></title>
    <script src="scripts/angular.js"></script>
    <script src="scripts/Example21_anchorScroll.js"></script>

    <meta charset="utf-8" />    

</head>
<body ng-controller="democontroller">
        <br /><br />
        <input type="button" value="Goto bottom of the page" id="top" ng-click="scrollTo('bottom')"/>
        <div>
            Bookmark1:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls
            :fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls
            :fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls
            :fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls
            :fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls
            :fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
             dfksfjdlsajfkdl ajfls
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls
            :fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls
            :fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls
            :fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls
            :fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls
            :fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
            fd fdska jfldka lfdsalkfd alfdl kfdlka fdlk ajfldkajfldkajfldsafdk af#s df
            dfksfjdlsajfkdl ajfls:fdslfa jdl afjdlsakfjdls afdafsfdsakfdjla fd
        </div>
        
    <input type="button" value="Goto top of the page" id="bottom" ng-click="scrollTo('top')"/>
</body>
</html>
